[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus.git
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf.git
[submodule "firmware/submodules/axi-soc-ultra-plus-core"]
	path = firmware/submodules/axi-soc-ultra-plus-core
	url = git@github.com:slaclab/axi-soc-ultra-plus-core.git
[submodule "firmware/submodules/aes-stream-drivers"]
	path = firmware/submodules/aes-stream-drivers
	url = git@github.com:slaclab/aes-stream-drivers.git
